<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<dom-module id="theme-card">

  <template>
    <style>
      :host {
        box-shadow: var(--theme-medium-shadow);
        margin: 24px;
        background-color: #fff;
        color: #757575;
        display: block;
        overflow: hidden;
        border-radius: var(--theme-radius-small);

        @apply(--theme-card);
      }
    </style>

    <content></content>
  
  </template>

  <script>

    Polymer({

      is: 'theme-card'

    });

  </script>

</dom-module>
